name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --all --verbose
    - name: Build docs
      run: RUSTFLAGS="-D warnings" cargo doc --all --verbose --no-deps
    - name: Run tests
      run: cargo test --all --verbose
